@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1f2328;
    --primary: #16a34a;
    --muted: #f6f8fa;
    --muted-foreground: #59636e;
    --destructive: #cf222e;
    --border: #d1d9e0;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #f0f6fc;
    --primary: #4ade80;
    --muted: #151b23;
    --muted-foreground: #9198a1;
    --destructive: #da3633;
    --border: #3d444d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-mono text-foreground;
  }
}
