:root {
  color-scheme: light dark;

  /*
   * Light scheme colours. Components/pages should probably use the theme-aware
   * variables instead.
   */
  --color-bg-light: rgb(245, 245, 245);
  --color-text-light: rgb(74, 73, 71);
  --color-primary-light: rgb(160, 71, 71);
  --color-accent-light: rgb(230, 186, 163);

  /*
   * Dark scheme colours. Components/pages should probably use the theme-aware
   * variables instead.
   */
  --color-bg-dark: rgb(19, 16, 16);
  --color-text-dark: rgb(216, 210, 194);
  --color-primary-dark: rgb(216, 162, 94);
  --color-accent-dark: rgb(84, 58, 20);

  --font-sans-serif: "Host Grotesk Variable", "Helvetica Neue", sans-serif;

  /* Theme-aware colour variables for use in components/pages. */
  --color-bg: light-dark(var(--color-bg-light), var(--color-bg-dark));
  --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
  --color-primary: light-dark(
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  --color-accent: light-dark(
    var(--color-accent-light),
    var(--color-accent-dark)
  );
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans-serif);
}
